.message {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 5px;
}

/* Sucesso */
.success {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
}

/* Erro */
.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
